* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

body{
    background-color: rgb(10, 202, 116);
}



 

header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 100px;
    background-color: aquamarine;
    
}  


ul{
    
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul li{
    
    padding: 20px;    
}

main{
    background-color: aquamarine;
    margin-bottom: 100px;
}

section{ 
   
    padding: 16px;
    align-items: center;

      
}
h1{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 3%;
}



.container{
    display: flex;
    align-items: center;
   
}

.container p{
    padding: 30px;
}

footer{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}


